/* general styles */
html {
  --first-color: purple;
  --second-color: green;

  --anim-speed: 0.5s;

  box-sizing: border-box;

  /* font-size: 8px; */

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shabnam", tahoma;
}


/* end of general styles */

/* HOME */
.home {
  display: flex;
  /* height: calc(100vh - 3rem); */
  height: 100vh;

  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  padding: 0 10rem;
}
.home-img-profile{
    max-width: 400px;
    border-radius: 60% 40% 30% 70%;
}
.home-social {
  position: fixed;
  width: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.social-icons-list {
  list-style: none;
  padding-left: 0;
}

.social-icons-list li {
  padding: 0.2rem 0;
}

.home-social-link {
  color: #bbb;
}

.home-social-link:hover {
  color: var(--first-color);
  transition: color var(--anim-speed);
}

.home-info h1 {
  text-align: right;
  font-family: Shabnam;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 2rem;
}

.home-info-name {
  color: var(--first-color);
  position: relative;
}
.home-info-name::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  background-color: var(--first-color);
  animation: swipe-in 1s ease-in-out;
}
@keyframes swipe-in {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

/* end of HOME */

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  font-family: Shabnam;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
}
.button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.button:active {
  transform: translate(0.2rem, 0.2rem);
}

/* end of BUTTONS */

section {
  width: 60%;
  /* height: calc(100vh - 3rem); */
  height: 100vh;
  padding: 0 20%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-family: Shabnam;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0;
  /* text-decoration: underline; چون نمیتوانیم پدینگ یا مارجین دهیم */
  border-bottom: 2px solid var(--first-color);
  color: var(--first-color);
  margin-top: 4rem;
}

/* ABOUT */
.about-container {
  display: flex;
  /* flex-direction: column;
  flex-grow: 1; */
  flex-grow: 1;
  align-items: center;
}

.about-img img {
  width: 250px;
  justify-self: center;
  border-radius: 1rem;
  /* border-radius: 40% 60% 30% 70% / 30% 30% 70% 40%; */
  /* border-radius: 50% 50% 50% 50%; */
}
.about-subtitle,
.about-text {
  text-align: right;
  margin-right: 6rem;
  direction: rtl;
  line-height: 1.8;
}

/* end of ABOUT */

/* SKILLS */
.skills-container {
  display: flex;
  /* flex-direction: column;
    flex-grow: 1; */
  flex-grow: 1;
  align-items: center;
}
.skills-img img {
  width: 250px;
  justify-self: center;
  border-radius: 1rem;
  /* border-radius: 40% 60% 30% 70% / 30% 30% 70% 40%; */
  /* border-radius: 50% 50% 50% 50%; */
}
.skills-subtitle,
.skills-text {
  text-align: right;
  direction: rtl;
  line-height: 1.8;
}
.skills-body {
  margin-left: 6rem;
}
.skill-info {
  display: flex;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  border-radius: 0.8rem 0.8rem 0.2rem 0.2rem;
  background-color: #fff;
}
.skill-logo {
  color: var(--first-color);
  font-size: 2rem;
}
.skill-name-logo {
  display: flex;
  align-items: center;
}
.skill-name-logo * {
  padding-left: 1rem;
}
.skill-bar {
  position: absolute;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  left: 0;
  bottom: 0;
}
.css {
  width: 45%;
}
.html {
  width: 70%;
}
.javascript {
  width: 80%;
}
.ui {
  width: 45%;
}
/* end of SKILLS */

/* PROJECTS */
.projects-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.images-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.image-wrapper {
  overflow: hidden;
}
.projects-img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: all 1s;
}
.projects-img:hover {
  transform: scale(1.4);
}
/* end of PROJECTS */

/* CONTACT ME */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form * {
  font-family: "Shabnam";
  font-size: 1.4rem;
  border: 2px solid #000;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.3rem;
  direction: rtl;
}

/* end of CONTACT ME */

/* #skills {
  background-color: red;
}
#about{
  background-color: blue;
    
} */

/* HEADER */
.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 4rem;
  z-index: 100;
  transition: left 0.3s cubic-bezier(1, 0, 0, 1);
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list ul {
  display: flex;
  list-style: none;
  direction: rtl;
}
.nav-list ul li a {
  text-decoration: none;
  padding: 0 0.6rem;
  color: var(--first-color);
  margin: 0 0.4rem;
  font-size: 1.1rem;
  position: relative;
}
.nav-list ul li a:hover {
  color: var(--second-color);
  transition: color 0.5s;
}

/* end of HEADER */

/* FONTS */
@font-face {
  font-family: Shabnam;
  src: url("font/Shabnam-Bold.eot");
  src: url("font/Shabnam-Bold.eot?#iefix") format("FontName-opentype"),
    url("font/Shabnam-Bold.woff") format("woff"),
    url("font/Shabnam-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* end of FONTS */
.checkbox:checked ~ .nav-bar {
  left: 100%;
}
/* HAMBURGER */

/* end of HAMBURGER */

/* MEDIA QUERIES */
@media (max-width: 1300px) {
  section {
    width: 80%;
    padding: 0 10%;
  }
}
@media (max-width: 1200px) {
  section {
    width: 90%;
    padding: 0 5%;
    min-height: 100vh;
  }

  .home-img-profile {
    width: 300px;
  }
  .home-info h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 1000px) {
  .home-info h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  }
  section {
    width: 90%;
    padding: 0 5%;
    height: auto;
  }
  .home-img-profile {
    width: 200px;
  }
  .home-info h1 {
    font-size: 1.6rem;
  }
  .home {
    flex-direction: column;
    justify-content: center;
  }
  .about-container {
    flex-direction: column;
    justify-content: center;
  }
  .skills-container {
    flex-direction: column;
    justify-content: center;
  }
  .skills-body {
    margin: 0;
  }
  .about-text {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  section {
    width: 80%;
    padding: 0 10%;
  }
  .images-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .about-img img {
    width: 150px;
    margin-top: 1rem;
  }
  .skills-img img {
    width: 150px;
    margin-top: 1rem;
  }
  .projects-container{
    margin-top: 1rem;

  }
  /* .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4b4b4b;
    height: auto;
  
  }
  .nav-list{
      flex-direction: column;
  }

  .hamburger {
    width: 3rem;
    height: 3rem;
    border: 3px solid #222222;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: flex-end;
    margin: 1rem;
  }
  .bar{
    height: 2px;
    width: 2rem;
    position: relative;
    background-color: #222222;
  }
  .bar::after, .bar::before{
      content:'';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #222222;
      left: 0;
  }
  .bar::after{
      top: 8px;
  }
  .bar::before{
      bottom:8px
  }
  .nav-list ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .nav-list ul li a {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2;
  }  */
}
@media (max-width: 600px) {
  .nav-bar {
    visibility: collapse;
  }
  .home-info h1 {
    font-size: 1rem;
  }
}
/* end of MEDIA QUERIES */
